header {
  height: 100vh;
  position: relative;
  h1 {
    color: $color-one;
  }
  .logo {
    width: 100%;
    position: absolute;
  }
  .center {
    width: 28%;
    position: absolute;
  }
  .one {
    top: 17%;
    left: 51%;
  }
  .two {
    top: 45%;
    left: 39%;
  }
  .three {
    top: 23%;
    left: 64%;
  }
  .four {
    top: 69%;
    left: 43%;
  }
}
