body {
  background-color: $color-three;
}

.container {
  display: flex;
  flex-direction: column;
  #skills{
    background-color: $color-two;
  }
  #skills, #work-section, #resume-section, #contact {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150vh;
    h2 {
      text-align: center;
      margin-top: 5%;
    }
  @media screen and (min-width: 880px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5%;
    height: 100vh;
  }
}
.intro {
  width: 100%;
  p {
    text-align: center;
  }
}
.skill, .work .about .info {
  height: 35vh;
  width: 100%;
  padding: 5% 1%;

    @media screen and (min-width: 880px) {
      width: 30%;
    }
}
}
