@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif|Yanone+Kaffeesatz');

body {
  background-image: url("../img/mylar-10.jpg");
  background-position: right;
  @media screen and (max-width: 450px) {
    background-image: url("../img/background-blue.png");
  }
  a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    &:hover {
      color: $color-two;
    }
  }
  .left .bio {
    padding: 5% 25%;
    a {
      font-size: .8em;
    }
    h1 {
      color: $color-one;
      font-family: 'Noto Serif', serif;
    }
    p {
      color: $color-one;
      font-size: .9em;
      line-height: 22px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 1.2px;
    }
    h2 a {
      letter-spacing: 1.2px;
    }
    .social-links {
      margin-top: 15%;
      img {
        height: 38px;
        width: auto;
      }
    }
    @media screen and (max-width: 450px) {
      padding: 5% 23% 5% 8%;
    }
  }
}
