.toggle {
  position: fixed;
  top: 27px;
  right: 95px;
  @media screen and (max-width: 450px) {
    top: 52px;
    right: 20px;
  }
  img {
    width: 70%;
  }
  @include transition();
  z-index: 1;
  @media screen and (min-width: 500px) {
    right: 48px;
  }
}
.page-content {
  position: relative;
  z-index: 0;
}

.sidebar {
  z-index: 0;
  @include position(fixed, 50px 0px 0 110%);
  @include transition();
  width: 50%;
  top: 25%;
  height: 100vh;
  padding: 1%;
  color: $color-one;
  ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    li {
      margin-right: 3%;
      list-style: none;
      margin-bottom: 45px;
      text-decoration: none;
      color: black;
      font-family: 'Lato', sans-serif;
      font-size: 1.8em;
      &:hover {
        text-transform: italic;
      }
    }
  }
}
// .work-sidebar {
//   height: 220vh;
//   background-image: url("../img/background-blue.png");
// }
#sidebar-toggler {
  display: none;
  @media screen and (min-width: 768px) {
  &:checked + .wrapper {
    .sidebar {
      left: 60%;
    }
    .toggle {
      right: 39%;
    }
    .left {
      display: none;
    }
    .right {
      margin-right: 30%;
    }
    .sculpture {
      display: none;
    }
    .hair {
      margin-right: 30%;
    }
  }
    }
  @media screen and (max-width: 450px) {
    &:checked + .wrapper {
      .sidebar {
        left: 30%;
      }
      .toggle {
        right: 65%;
      }
      #header {
        right: 100%;
      }
      .left {
        display: none;
      }
      .right {
        margin-right: 30%;
      }
      .sculpture {
        display: none;
      }
      .hair {
        margin-right: 30%;
      }
    }
  }
}
