  label {
    position: fixed;
      img {
        height: 18px;
        width: 41px;
      }
      top: 27px;
      right: 48px;
      width: 45px;
      height: 45px;
      border: none;

      background-size: 100% 100%;
      background-repeat: no-repeat;
      // white-space: nowrap;
      // overflow: hidden;
      cursor: pointer;
      z-index: 105;


  }
