.container {
  width: 80%;
  margin: 0 auto;
}

.mast {
  text-align: center;
  background-color: #D38A7A;
  background-attachment: fixed;
  height: 70vh;
  h1 {
    padding-top: 20%;
  }
  h2 {
    padding-top: 8%;
  }
}
#skills-section, #work-section, #resume-section, #contact {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 0 5%;
  flex-wrap: wrap;
  h2 {
    text-align: center;
  }
}
.intro {
  width: 100%;
  p {
    text-align: center;
  }
}
.skill, .work .about .info {
  width: 30%;
  height: 100%;
  padding: 5% 1%;
}
