.wrapper {
  position: relative;
  z-index: 0;
  @include transition();
}
.container {
  width: 80%;
  margin: 5% auto;
}
.mast {
  text-align: center;
  background-color: #D38A7A;
  background-attachment: fixed;
  height: 70vh;
}
#skills-section, #work-section, #resume-section {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  padding: 0 2%;
  h2 {
    text-align: center;
  }
  @media screen and (min-width: 880px) {
    padding: 0 5%;
  }
}
#contact {
  display: flex;
  justify-content: space-between;
  margin: 1% 10%;
}
.intro {
  width: 100%;
  p {
    text-align: center;
  }
}
.skill, .work .about .info {
  width: 100%;
  height: 100%;
  padding: 5% 1%;
    @media screen and (min-width: 880px) {
      width: 30%;
      padding: 5% 1%;
    }
}
