.mast {
  text-align: center;
  background-color: #D38A7A;
  background-attachment: fixed;
  height: 80vh;
  background-attachment: fixed;
}
.mast h1 {
    position: relative;
    padding-top: 30%;
    margin: 0;
    letter-spacing: 1px;
    font-size: 4em;
    color: white;
}

.mast h1:before,
.mast h1:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.mast h1:after {
    margin-left: 0;
    content: 'ERRI LYNN Bradley';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}
.mast h1:after {
    margin-left: 0;
    content: 'Frontend Development';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translatX(-20px);
}

.mast h1:hover:before,
.mast h1:hover:after,
.mast h1:focus:before,
.mast h1:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}
