
$size: 70px;
$offsetAmount: 1.1;
$transitionTime: 0.12s;
$text-color: #B64F39;
nav {
  position: absolute;
  top: 40px;
  right: 10px;
}
ul{
  display: block;
  margin: 50px auto 0;
  width: $size;
  height: $size;
  padding: 0;
  position: relative;
}

li {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  opacity: 0.5;
  // mix-blend-mode: screen;
  position: absolute;
  top: 0;
  right: 50px;
  transition: transform $transitionTime ease-out, opacity $transitionTime ease-out, color $transitionTime ease-out;
  cursor: pointer;
  text-align: center;
  line-height: $size;
  color: white;

  color: transparent;
}

/*
li:after{
  content: "";
  display: block;
  bottom: 100%;
  left: 50%;
  height: ($offsetAmount*100%)-100;
  margin-left: -1px;
  position: absolute;
  width: 4px;
  background-color: inherit;
  opacity: 0;
  transition: opacity $transitionTime ease-out;
}
*/
li:first-child:after{
  display: none;
}
$offset:20%;
$colors: #99D2B1, #C6F0D7, #DEECE4, #F3FFF8;
$transforms:  translate(0,-$offset),
              translate($offset,0),
              translate(0,$offset),
              translate(-$offset,0);

@for $i from 1 through 4{
  li:nth-child(#{$i}){
    background-color: nth($colors, $i);
    transform: nth($transforms, $i);
    z-index: 4 - $i;
    transition-duration: $transitionTime * $i;
  }

}


ul:hover{
  height: (4*$offsetAmount) * $size;

  li {
    color: black;
  }


  @for $i from 1 through 4{
    li:nth-child(#{$i}){
      transform: translate(0, ($i - 1)*($offsetAmount*100%));

     &:hover{
      opacity: 1;
      transition-timing-function: cubic-bezier(.5,0,.5,1);
      transform: translate(0, ($i - 1)*($offsetAmount*100%))  scale(1.15, 1.15);
       transition-duration: $transitionTime*2;
     }

    }

    li:nth-child(#{$i}):after{
      opacity: 1;
      transition-delay: ($transitionTime/1.5) * $i;
    }
  }
}










// .toggle {
//   text-decoration: none;
//   font-size: 2em;
//   color: black;
//   @include position(fixed, 1% 0 0 87%);
//   @include transition();
//   z-index: 1;
//   @media screen and (min-width: 600px) {
//     @include position(fixed, 2% 0 0 93%);
//   }
//   @media screen and (min-width: 1300px) {
//     @include position(fixed, 2% 0 0 95%);
//   }
// }
//
// .sidebar {
//   z-index: 0;
//   @include position(fixed, -205px 0px 0 0px);
//   @include transition();
//   width: 100vw;
//   height: 90px;
//   padding: 1%;
//   color: white;
//   background: #333;
//   ul {
//     margin-top: 30px;
//     display: flex;
//     @media screen and (min-width: 600px) {
//       justify-content: center;
//     }
//
//     li {
//       display: inline;
//       margin-left: 3%;
//       color: rgba(255,255,255,0.8);
//       list-style: none;
//       font-size: 1em;
//       margin-bottom: 16px;
//       &:hover {
//         color: rgba(255,255,255, 1);
//       }
//     }
//   }
// }
// #sidebar-toggler {
//   display: none;
//   &:checked + .wrapper {
//     .sidebar {
//       top: 0px;
//     }
//     .toggle {
//       color: white;
//     }
//     .wrapper {
//       padding-left: 100px;
//     }
//   }
// }
